<div class="clr-row">
  <div class="clr-col-12 clr-col-sm-5">
    <div class="card">
      <div class="card-header danger">
        <clr-icon shape="dollar" class="is-info is-solid" size="24"></clr-icon>
        Counter
      </div>
      <div class="card-block">
        <h4 class="card-title">ioBroker Counter</h4>
        <hr>
        <div class="card-text">
          Count =  <span class="badge badge-blue">{{counter}}</span>
        </div>
        <clr-input-container class="clr-error">
          <label>Counter</label>
          <input placeholder="{{counter}}" type='number' clrInput [(ngModel)]="newCounter"
            (change)="onChangeCounter(counter)" />
          <clr-control-helper>Set the Counter and enter</clr-control-helper>
          <clr-control-error>This field is required!</clr-control-error>
        </clr-input-container>
      </div>
      <div class="card-footer">
        <div class="btn-group btn-primary">
          <button class="btn" (click)="counterDecrement()">
            <clr-icon shape="minus"></clr-icon>
            <span class="clr-icon-title">Settings</span>
          </button>
          <button class="btn btn-success" (click)="counterReset()">
            <clr-icon shape="undo"></clr-icon>
            <span class="clr-icon-title">Settings</span>
          </button>
          <button class="btn btn-danger" (click)="counterIncrement()">
            <clr-icon shape="plus"></clr-icon>
            <span class="clr-icon-title">Settings</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>