<div class="example-container example-div-center">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Counter</mat-card-title>
      <mat-card-subtitle>ioBroker Counter</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://visualpharm.com/assets/221/Counter-595b40b75ba036ed117d5a87.svg" alt="Counter">
    <mat-card-content>
      <p>Counter: {{counter}}</p>
      <label>Counter:
        <input [(ngModel)]="counter" placeholder="name" (change)="onChangeCounter(counter)" />
      </label>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
