.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container>* {
    width: 50%;
  }
  
  .example-card {
    max-width: 400px;
  }
  
  .example-card-content {
    padding: 16px;
  }
  
  .example-header-image {
    background-image: url('https://visualpharm.com/assets/221/Counter-595b40b75ba036ed117d5a87.svg');
    background-size: cover;
  }
  
  .example-div-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  