.git
.idea
*.code-workspace
node_modules
nbproject

# Sourcemaps
maps/

# npm package files
iobroker.*.tgz

Thumbs.db

# NYC coverage files
coverage
.nyc*

/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/coverage
/dist
/node_modules
/platforms
/plugins
/.vscode
