<clr-main-container>
        <clr-header>
          <div class="branding">
            <div>
              <clr-icon shape="vm-bug"></clr-icon>
              <span class="title">{{title}}</span>
            </div>
          </div>
          <div class="header-nav" [clr-nav-level]="1">
            <a mat-list-item [routerLink]="'/mainsite'" class="active nav-link nav-text">Mainsite</a>
            <a mat-list-item [routerLink]="'/counter'" class="nav-link nav-text">Counter</a>
            <a mat-list-item [routerLink]="'/showrooms'" class="nav-link nav-text">Show-Rooms</a>
            <a mat-list-item [routerLink]="'/showlights'" class="nav-link nav-text">Show-Lights</a>
          </div>
        </clr-header>
        <div class="content-container">
          <main class="content-area">
            <router-outlet></router-outlet>
          </main>
          <nav class="sidenav" [clr-nav-level]="2">
            <section class="sidenav-content">
      
                    <a mat-list-item [routerLink]="'/counter'" class="nav-link nav-text">
                      <clr-icon shape="dollar" size="12"></clr-icon>
                      <span>Counter</span>
                    </a>
              <section class="nav-group collapsible">
                <input id="tabexample1" type="checkbox">
                <label for="tabexample1">Overview</label>
                <ul class="nav-list">
                  <li><a mat-list-item [routerLink]="'/showrooms'" class="nav-link nav-text">Show-Rooms</a></li>
                  <li><a mat-list-item [routerLink]="'/showlights'" class="nav-link nav-text">Show-Lights</a></li>
                </ul>
              </section>
              <section class="nav-group collapsible">
                <input id="tabexample1" type="checkbox">
                <label for="tabexample1">Test</label>
                <ul class="nav-list">
                  <li><a mat-list-item [routerLink]="'/test'" class="nav-link nav-text">Test</a></li>
                  <li><a mat-list-item [routerLink]="'/mainsite'" class="active nav-link nav-text">Mainsite</a></li>
                  <li>
                    <a mat-list-item [routerLink]="'/counter'" class="nav-link nav-text">
                      <clr-icon shape="dollar" size="12"></clr-icon>
                      <span>Counter</span>
                    </a>
                  </li>
                </ul>
              </section>
            </section>
          </nav>
        </div>
      </clr-main-container>