.example-container {
  display: flex;
  flex-direction: column;
}

.example-container>* {
  width: 50%;
}

.example-card {
  max-width: 400px;
}

.example-card-content {
  padding: 16px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.example-div-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
