<clr-datagrid class="datagrid-compact">

  <clr-dg-placeholder>Still loading!</clr-dg-placeholder>

  <clr-dg-column [clrDgField]="'name'" [clrDgSortOrder]="descSort">Name</clr-dg-column>
  <clr-dg-column [clrDgField]="'numberOfMembers'" [clrDgColType]="'number'">Members#:</clr-dg-column>

  <clr-dg-row *clrDgItems="let new_enum of new_enums">
    <clr-dg-cell>{{new_enum.name}}</clr-dg-cell>
    <clr-dg-cell>{{new_enum.numberOfMembers}}</clr-dg-cell>
    <clr-dg-row-detail *clrIfExpanded [clrDgReplace]="false">
      <div class="card">
        <div class="card-block">
          <div class="card-text">
            <table class="table table-vertical table-noborder table-compact">
              <tbody>
                <tr>
                  <th>ID:</th>
                  <td>{{new_enum.id}}</td>
                </tr>
                <tr>
                  <th>Last Update:</th>
                  <td>{{new_enum.lastUpdate}}</td>
                </tr>
                <tr>
                  <th>Members:</th>
                  <td>{{new_enum.members}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </clr-dg-row-detail>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="10">
      <clr-dg-page-size [clrPageSizeOptions]="[5,10,15,20]">Users per page</clr-dg-page-size>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
      of {{pagination.totalItems}} users
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
